<script type="text/javascript">
    $(function() {
        ALLOWED_EXTENSIONS = ['jpg', 'jpeg', 'png'];
        originalImage = '';
        typeImage = '';
        croppedImage = '';
        naturalWidthImage = 0;
        naturalHeightImage = 0;
        cropWidthImage = 0;
        cropHeightImage = 0;
        positionLeftImage = 0;
        positionTopImage= 0;
        aspectRatioImage = 0;
        naturalAspectRatioImage = 0;

        function dataURItoBlob(dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ia], {type:mimeString});
        };


        $('.upload-avatar').on('change', function () {

            // console.log(this.files);
            // console.log(this.files[0]);
            // console.log(this.files[0]['type']);
            // console.log(this.files[0].name);
            // console.log(this.files[0]['size']);
            fileZero = this.files;
            fileOne = this.files[0];
            if (this.files && this.files[0]) {
                var fileIsImage = false;
                // Gets the type of image either png or jpg exclude gif
                fileType = this.files[0]['type'];

                console.log(fileType);
                typeImage = fileType.substr(fileType.indexOf("/") + 1);
                console.log(typeImage)

                for (var i = ALLOWED_EXTENSIONS.length - 1; i >= 0; i--) {
                    if (!fileIsImage) {
                        if (typeImage == ALLOWED_EXTENSIONS[i]) {
                            fileIsImage = true;
                            console.log("match");
                            break;
                        };
                    };
                };

                if (fileIsImage) {
                    var reader = new FileReader();
                    reader.readAsDataURL(this.files[0]);
                    reader.onloadstart = function startCrop(e) {
                        $('.cropping-image').html("");
                        $('.cropping-preview').html("");
                        $().cropper('destroy');
                    };
                    reader.onprogress = function progressCrop(e) {};
                    reader.onload = function loadCrop(e) {
                        // console.log(e.target.result);
                        $('.cropping-image').append('<img class="image-to-crop" src="' + e.target.result + '" alt="Crop Avatar" style="width:400px">');
                    };
                    reader.onloadend = function endCrop(e) {
                        $image = $('.image-to-crop');
                        cropOptions = {
                            preview: '.cropping-preview',
                            aspectRatio: 1,
                            strict: true,
                            movable: false,
                            rotatable: false,
                            scalable: false,
                            zoomable: true,
                            mouseWheelZoom: false,
                            touchDragZoom: false,
                            cropBoxMovable: true,
                            cropBoxResizable: true,
                            doubleClickToggle: false,
                            minContainerWidth: 325,
                            minContainerHeight: 325,
                            minCanvasWidth: 300,
                            minCanvasHeight: 300,
                            minCropBoxWidth: 100,
                            minCropBoxHeight: 100,
                            build: function() {},
                            built: function() {},
                            cropstart: function() {},
                            cropmove: function() {},
                            cropend: function() {},
                            crop: function() {},
                            zoom: function() {}
                        };
                        $image.cropper(cropOptions);
                    };
                } else {
                    $('.upload-avatar').val("");
                    $('.cropping-image').html("");
                    $('.cropping-preview').html("");
                    $().cropper('destroy');
                    $('.cropping-image').prepend('<div class="error"><h3>Sorry that file format is not acceptable</h3></div>');
                }
            };
        });


        var csrftoken = $('meta[name=csrf-token]').attr('content')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })


        $('#avatar-form .btn-submit').on('click', function(e) {
            e.preventDefault();
            var form_data = new FormData();

            // originalImage = new Blob([$('.image-to-crop').attr('src')], {type: fileType, name: 'originalImage'});
            // form_data.append('originalImage', originalImage);
            // console.log(form_data.get('originalImage'));

            originalImage = dataURItoBlob($('.image-to-crop').attr('src'));
            form_data.append('originalImage', originalImage, 'original_avatar.' + typeImage);
            console.log(form_data.get('originalImage'));


            form_data.append('typeImage', typeImage);
            console.log(form_data.get('typeImage'));

            // croppedImage = [$image.cropper('getCroppedCanvas').toDataURL(typeImage)]; // <- insert the image type the user originally input.
            // croppedImage = new Blob([$image.cropper('getCroppedCanvas').toDataURL(typeImage)], {type: fileType, name: 'croppedImage'});
            // form_data.append('croppedImage', croppedImage, 'cropped_avatar.' + typeImage);
            croppedImage = dataURItoBlob($image.cropper('getCroppedCanvas').toDataURL(fileType, 1.0));
            form_data.append('croppedImage', croppedImage, 'cropped_avatar.' + typeImage);
            console.log(form_data.get('croppedImage'));

            var imageInfo = $image.cropper('getImageData');
            console.log(imageInfo);

            naturalWidthImage = imageInfo.naturalWidth;
            form_data.append('naturalWidthImage', naturalWidthImage);
            console.log(form_data.get('naturalWidthImage'));

            naturalHeightImage = imageInfo.naturalHeight;
            form_data.append('naturalHeightImage', naturalHeightImage);
            console.log(form_data.get('naturalHeightImage'));

            naturalAspectRatioImage = imageInfo.aspectRatio;
            form_data.append('naturalAspectRatioImage', naturalAspectRatioImage);
            console.log(form_data.get('naturalAspectRatioImage'));


            var cropInfo = $image.cropper('getCropBoxData');
            console.log(cropInfo);

            aspectRatioImage = 1;
            form_data.append('aspectRatioImage', aspectRatioImage);
            console.log(form_data.get('aspectRatioImage'));

            cropWidthImage = cropInfo.width;
            form_data.append('cropWidthImage', cropWidthImage);
            console.log(form_data.get('cropWidthImage'));

            cropHeightImage = cropInfo.height;
            form_data.append('cropHeightImage', cropHeightImage);
            console.log(form_data.get('cropHeightImage'));

            positionLeftImage = cropInfo.left;
            form_data.append('positionLeftImage', positionLeftImage);
            console.log(form_data.get('positionLeftImage'));

            positionTopImage = cropInfo.top;
            form_data.append('positionTopImage', positionTopImage);
            console.log(form_data.get('positionTopImage'));

            // console.log(form_data.get('cropped'));
            // console.log(form_data);

            $.ajax({
                url: "{{ url_for('user.ajax_uploadavatar') }}",
                type: 'POST',
                processData: false,
                contentType: false, // 'multipart/form-data'
                dataType: 'json',
                data: form_data
            })
            .done(function(data) {
                console.log(data.outcome);
                // $('.ajax-test').text(data);
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        });

    });

</script>