<script type="text/javascript">
    $(function() {
        ALLOWED_EXTENSIONS = ['jpg', 'jpeg', 'png'];
        typeImage = '';

        function dataURItoBlob(dataURI) {
            // convert base64/URLEncoded data component to raw binary data held in a string
            var byteString;
            if (dataURI.split(',')[0].indexOf('base64') >= 0)
                byteString = atob(dataURI.split(',')[1]);
            else
                byteString = unescape(dataURI.split(',')[1]);

            // separate out the mime component
            var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

            // write the bytes of the string to a typed array
            var ia = new Uint8Array(byteString.length);
            for (var i = 0; i < byteString.length; i++) {
                ia[i] = byteString.charCodeAt(i);
            }

            return new Blob([ia], {type:mimeString});
        };


        $('.upload-avatar').on('change', function () {
            fileZero = this.files;
            fileOne = this.files[0];
            if (this.files && this.files[0]) {
                var fileIsImage = false;

                // Gets the type of image either png or jpg exclude gif
                fileType = this.files[0]['type'];

                // Strips to get the type of extensions
                typeImage = fileType.substr(fileType.indexOf("/") + 1);

                // Loop through the ALLOWED_EXTENSIONS of the image
                for (var i = ALLOWED_EXTENSIONS.length - 1; i >= 0; i--) {
                    if (!fileIsImage) {
                        if (typeImage == ALLOWED_EXTENSIONS[i]) {
                            fileIsImage = true;
                            break;
                        };
                    };
                };

                if (fileIsImage) {
                    var reader = new FileReader();
                    reader.readAsDataURL(this.files[0]);
                    reader.onloadstart = function startCrop(e) {
                        $('.cropping-image').html("");
                        $('.cropping-preview').html("");
                        $().cropper('destroy');
                    };
                    reader.onprogress = function progressCrop(e) {};
                    reader.onload = function loadCrop(e) {
                        $('.cropping-image').append('<img class="image-to-crop" src="' + e.target.result + '" alt="Crop Avatar" style="width:400px">');
                    };
                    reader.onloadend = function endCrop(e) {
                        $image = $('.image-to-crop');
                        cropOptions = {
                            preview: '.cropping-preview',
                            aspectRatio: 1,
                            strict: true,
                            movable: false,
                            rotatable: false,
                            scalable: false,
                            zoomable: true,
                            mouseWheelZoom: false,
                            touchDragZoom: false,
                            cropBoxMovable: true,
                            cropBoxResizable: true,
                            doubleClickToggle: false,
                            minContainerWidth: 325,
                            minContainerHeight: 325,
                            minCanvasWidth: 300,
                            minCanvasHeight: 300,
                            minCropBoxWidth: 100,
                            minCropBoxHeight: 100,
                            build: function() {},
                            built: function() {},
                            cropstart: function() {},
                            cropmove: function() {},
                            cropend: function() {},
                            crop: function() {},
                            zoom: function() {}
                        };
                        $image.cropper(cropOptions);
                    };
                } else {
                    $('.upload-avatar').val("");
                    $('.cropping-image').html("");
                    $('.cropping-preview').html("");
                    $().cropper('destroy');
                    $('.cropping-image').prepend('<div class="error"><h3>Sorry that file format is not acceptable</h3></div>');
                }
            };
        });

        // Passes the csrf token for security
        var csrftoken = $('meta[name=csrf-token]').attr('content')
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!/^(GET|HEAD|OPTIONS|TRACE)$/i.test(settings.type)) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken)
                }
            }
        })


        $('#avatar-form .btn-submit').on('click', function(e) {
            e.preventDefault();
            var form_data = new FormData();

            // Makes the canvas to a blob
            croppedImage = dataURItoBlob($image.cropper('getCroppedCanvas').toDataURL(fileType, 1.0));
            form_data.append('original', croppedImage, 'original'.concat('.', typeImage));

            $.ajax({
                url: "{{ url_for('user.ajax_uploadavatar') }}",
                type: 'POST',
                processData: false,
                contentType: false,
                dataType: 'json',
                data: form_data
            })
            .done(function(data) {
                console.log(data.outcome);
            })
            .fail(function() {
                console.log("error");
            })
            .always(function() {
                console.log("complete");
            });
        });

    });

</script>