<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/lib/ai-framework.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="shortcut icon" type="image/png" href="images/favicon/favicon.png">
    <!--<script type="text/javascript" src="http://code.jquery.com/jquery-2.1.4.min.js"></script>-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/lib/jquery.min.js') }}"></script>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block starter %}
    {% endblock %}
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% block ender %}
    {% endblock %}
</body>
</html>