{% extends "base.html" %}

{% block content %}
    {% if user %}
        <h2>{{ user.username }}</h2>
        <ul class="ai-list">
            <li><a href="{{ url_for('user.profile') }}">Profile</a></li>
            <li><a href="{{ url_for('user.editprofile') }}">Edit Profile</a></li>
            <li><a href="{{ url_for('user.upload') }}">Edit Avatar</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>




        <br/><hr/><br/>
        <div class="form-group">
            {{ form.search.label }}
            {{ form.search(class="form-control", placeholder="Search") }}
        </div>
        <div class="form-group">
            {{ form.submit(class="btn btn-submit") }}
        </div>
    {% else %}
        <a href="/login">Login</a>
    {% endif %}

    <h1>Landing Page</h1>
{% endblock %}